@import "~font-awesome/css/font-awesome.css";
@import "~rc-slider/assets/index.css";

.window.window--flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.window-content.window-content--flex-inner {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rc-slider-track {
  background-color: #000;
}

.rc-slider-handle {
  border: 2px solid #000;
}

.rc-slider-handle:hover {
  border-color: #000;
}
